
.button-start-page {
  @include button($background-color: transparent);
  &:hover {
    background-color: $button_color;
    color: white;
  }
}
.select__wrap-button {
  width: 8rem;
  margin: 0 auto;
  padding-top: 50px;
  .button {
    @include button (180px, 45px, $selected_menu_item);
    color: $white_color;
    &:hover {
      border: $selected_menu_item;
      background-color: rgba(157, 224, 145, 0.4542191876750701) 89%;
    }
  }
}
.button-sign {
  background: $button_color;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: $body_font;
  font-size: 27px;
  height: 72px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.6,0,.4,1);
  &:hover {
    background: green;
  }
  span {
    display: block;
    line-height: 72px;
    position: relative;
    top: 72px;
    transform: translate3d(0,0,0);
  }
}
