@font-face {
  font-family: 'Comic Neue';
  font-weight: 700;
  src: url('../assets/fonts/Comic_Neue/ComicNeue-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
