@font-face {
  font-family: 'Comic Neue';
  src: url(/src/assets/fonts/Comic_Neue/ComicNeue-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: url(/src/assets/fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: 400;
}
