@import "../../../../sass/abstract/constants";
@import "../../../../sass/abstract/mixins";

.dictionary-body {
  @include background(url('../../../../assets/img/rs-lang.jpg') center fixed, $background-size: cover, $background-repeat: repeat);
}

.dictionary {
  height: calc(100vh - 80px);
}

.dictionary__button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 600px;
  height: 42px;
  margin: 0 auto;
  overflow: hidden;
}

.dictionary__tab-button {
  @include button();

  width: 190px;
  margin-left: 5px;
  padding-bottom: 8px;
  color: $white_color;

  &_selected {
    background-color: transparent;
    color: $button_color;
  }
}

.dictionary__table-container {

}

.dictionary__table {

}

@media (max-width: $tablet_sreen) {
  .dictionary__button-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: unset;
  }

  .dictionary__tab-button {
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
  }
}
