@import "../../../../sass/abstract/constants";
@import "../../../../sass/abstract/mixins";

.dictionary-body {
  @include background(url('../../../../assets/img/rs-lang.jpg') center fixed, $background-size: cover, $background-repeat: repeat);
}

.dictionary {
  height: calc(100vh - 80px);
}

.dictionary__button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 600px;
  height: 42px;
  margin: 0 auto;
  overflow: hidden;
}

.dictionary__tab-button {
  @include button();

  width: 190px;
  margin-left: 5px;
  padding-bottom: 8px;
  outline: 0;
  color: $white_color;
  user-select: none;

  &:hover {
    filter: brightness(70%);
  }

  &_selected {
    background-color: transparent;
    color: $button_color;
  }
}

.dictionary__table-container {
  width: 80%;
  height: calc(100% - 82px);
  margin: 0 auto;
  overflow-y: auto;
}

.dictionary__table {
  width: 100%;
}

.dictionary__table__row {
  display: flex;
  // justify-content: space-between;
  height: 150px;
  border-top: 2px solid green;

  img {
    display: block;
    width: 222px;
    object-fit: contain;
  }
}

.dictionary__play-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  outline: 0;
  background: url("../../../../assets/icons/dictionary/sound.svg") center / contain;

  &:hover {
    background-size: 40px;
  }
}

.dictionary__recovery-button {
  @include button();

  width: 100px;
  margin-left: 5px;
  padding-bottom: 8px;
  outline: 0;
  color: $white_color;
  user-select: none;
}

@media (max-width: $tablet_sreen) {
  .dictionary__button-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: unset;
  }

  .dictionary__tab-button {
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
  }

  .dictionary__table-container {
    width: calc(100% - 10px);
  }
}
