@import "../../../../sass/abstract/constants";

.dictionary__lds-ripple {
  margin: auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  height: 288px;
  transform: translate(-50%, -50%);
}

.dictionary__lds-ripple div {
  position: absolute;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border: 4px solid $button_color;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 0 15px #e27979;
}

.dictionary__lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 144px;
    left: 144px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 288px;
    height: 288px;
    opacity: 0;
  }
}
