@mixin statistics {

  .table_statistics {
    .tabs-container {
      width: 100%;
      font-size: 15px;
    }

    .tabs {
      position: relative;
      display: flex;
      margin: 0px 0px;

      li span {
        display: block;
        position: relative;
        top: 4px;
        cursor: pointer;
        padding: 10px 25px;
        border-radius: 2px 2px 0 0;
        background: white;
        opacity: 0.7;
        transition: all 0.1s ease-in-out;
      }

      li span:first-letter {
        text-transform: uppercase;
      }

      li:not(:last-child) {
        margin-right: 7px;
      }

      li.active span,
      li span:hover {
        opacity: 1;
        top: 0;
      }
    }

    ul {
      list-style: none;
    }

    .tabs-content {
      position: relative;
      z-index: 2;
      padding: 15px;
      border-radius: 0 4px 4px 4px;
      background: white;
    }

    .tabs-panel {
      display: none;
    }

    .tabs-panel.active {
      display: block;
    }


    .table_sort {
      width: 100%;
      border-collapse: collapse
    }

    .table_sort tr {
      display: flex
    }

    .table_sort td,
    .table_sort th {
      width: 16.66667%;
      padding: 10px 10px 10px 5px;
      font-size: 14px;
      text-align: center;
      word-wrap: break-word;
      border: 1px solid #ccc
    }

    .table_sort td:first-letter,
    .table_sort th:first-letter {
      text-transform: uppercase;
    }

    .table_sort th {
      color: #fff;
      cursor: pointer;
      user-select: none;
      background-color: $button_color;
    }

    .table_sort tbody tr:nth-child(2n) {
      background: #e3e3e3
    }

    th.sorted[data-order="-1"]::after {
      content: " ↑"
    }

    th.sorted[data-order="1"]::after {
      content: " ↓"
    }

    #main-chart {
      border: 1px solid black;
      display: block;
      margin: 0 auto;
    }
  }
}
