.savannah-list {
  z-index: 1;
  align-self: stretch;
}

.word-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  color: $white_color;
  font-size: 2rem;

  & li {
    list-style-position: inside;
    cursor: pointer;
  }
}

.savannah__true-word__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.savannah__true-word {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  color: $white_color;
  font-size: 2rem;
  letter-spacing: 50px;
}

.savannah__true-word_fall {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50vh);
  transition: transform 5s linear, letter-spacing 0.5s linear;
  color: $white_color;
  font-size: 2rem;
  letter-spacing: normal;
}

.savannah__true-word_right {
  width: 5px;
  height: 30px;
  transform: translate(-50%, 90vh);
  transition: transform 0.5s linear;
  border-radius: 40%;
  background: $white_color;
}

.savannah__true-word_false {
  transform: translate(-50%, 20vh);
  transition: all 0.3s linear;
  letter-spacing: 100px;
}

.heart__wrapper {
  position: absolute;
  top: 8vh;
  right: 5vw;
  width: 150px;
}

.heart__list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.heart__list-item {
  width: 15px;
  height: 10px;
  margin-left: 10px;
}

.heart__list-item::before {
  content: url('/assets/icons/savannah/heart.svg');
  position: absolute;
  width: 15px;
  height: 10px;
}

.crystal__wrapper {
  position: absolute;
  bottom: 10vh;
  animation: move 1.5s linear infinite;
}

.crystal__image {
  width: 25px;
}

@keyframes move {
  50% {
    transform: translateY(20px);
  }
}
