@import "./components/intro";
@import "./components/preloader";
@import "./components/results";
@import "./components/game";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  // overflow: hidden;
  min-height: 100%;
}

