@import '../../../../sass/abstract/constants';
@import '../../../../sass/abstract/mixins';
@import "./components/intro";
@import "./components/preloader";
@import "./components/results";
@import "./components/game";

.main__background-speakit {
  @include position($position: fixed);
  @include background(url('../../../../assets/img/rs-lang.jpg'), $background-repeat: no-repeat);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body_font;
  min-height: 100%;
}

#speakit {
  @include game-speakit;
  @include intro-speakit;
  @include results-speakit;
  position: relative;

  .btns {
    display: flex;
  }

  .btn {
    @include button;
    color: $white_color;
  }

  .btn:hover {
    background: $button_hover_color;
    color: $body_color;
  }

  .btn:focus,
  .btn:active {
    outline: 0;
  }

  .activeBtn {
    background: rgb(1, 119, 1);
    color: $white_color;
    transition: .15s;
  }

  .activeBtn:hover {
    background: #1ab429;
    color: $body_color;
    transition: .15s;
  }
}
