@import "../../../../sass/abstract/constants";
@import "../../../../sass/abstract/mixins";

.body__settings-page {
    background: linear-gradient(90deg, rgba(226, 242, 231, 0.3) 0%, rgba(251, 216, 216, 0.3) 89%), url(/src/assets/img/sprintGameBg.jpg) center fixed;
    background-repeat: repeat;
    background-size: cover;
}

.main-container {
  width: 100vw;
  min-height: calc(100vh - 80px);
};

.card-container {
    max-width: 484px;
    margin: 100px auto 0;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

.word-section {
    padding: 28px 28px 10px;
    position: relative;
}

.question-wrapper {
    position: static;
    padding: 0;
    width: 100%;
    min-height: 256px;
    height: 282px;
    border: none;
}

.sound-button {
    top: 17px;
    left: auto;
    background-image: url(/src/assets/icons/springGame/sound.svg);
    position: absolute;
    min-width: auto;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 2;
}

.points {
    font-family: $body_font;
    width: 80px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: calc(50% - 40px);
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}

.sound {
    width: 30px;
    height: 30px;
    background-image: url(/src/assets/icons/springGame/music_on.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    top: -50px;
}

.sound-off {
    background-image: url(/src/assets/icons/springGame/music_off.svg);
}

.progress {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.circles {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .circle {
        background-position: 50%;
        margin-left: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        background-image: url(/src/assets/icons/springGame/whiteDot.svg);  

    }
    .green-circle {
        background-image: url(/src/assets/icons/springGame/greenDot.svg);  
    }
    }
            
.birds {
    display: inline-flex;
    position: relative;
    width: 204px;
    height: 64px;
    margin: 65px 0 30px;
}

.parrot {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.parrot1 {
    background-image: url(/src/assets/icons/springGame/1bird.svg);
    width: 54px;
    height: 63px;
    left: 0;
    bottom: -2px;
}

.parrot2 {
    background-image: url(/src/assets/icons/springGame/2bird.svg);
    width: 54px;
    height: 63px;
    left: 50px;
    bottom: -2px;
    display: none;
}

.parrot3 {
    background-image: url(/src/assets/icons/springGame/3bird.svg);
    width: 54px;
    height: 63px;
    left: 100px;
    bottom: -2px;
    display: none;
}

.parrot4 {
    background-image: url(/src/assets/icons/springGame/4bird.svg);
    width: 54px;
    height: 63px;
    left: 150px;
    bottom: -2px;
    display: none;
}

.active-parrot {
    display: inline;
}

.branch {
    background-image: url(/src/assets/icons/springGame/perch.svg);
    width: 204px;
    height: 6px;
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
}
        
.word {
    font-size: 3rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    font-family: $body_font;
}

.translation{
    font-size: 2.5rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: hsla(0,0%,100%,.6);
    margin-top: 12px;
    font-family: $body_font;
}

.buttons-section {
    background-color: transparent;
    min-height: 86px;
    padding: 18px 28px;
    display: flex;
    justify-content: space-around;
}

.sprint-game__wrong {
    // position: relative;
    // width: 183px;
    // height: 50px;
    // border-radius: 4px;
    // background-color: #ed593b;
    // font-size: 20px;
    // font-weight: 400;
    // font-stretch: normal;
    // font-style: normal;
    // line-height: 1.2;
    // letter-spacing: normal;
    // text-align: center;
    // color: #fff;
    // margin-left: 9px;
    // margin-right: 9px;
    @include button($background-color: #ed593b, $color_text: $white_color);
}

.sprint-game__correct {
    position: relative;
    @include button($color_text: $white_color);
}



