.audiochallenge-assets {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image__wrapper {
  display: flex;
  justify-content: center;
}

.word-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  color: #162114;
  font-size: 2rem;
  & li {
    list-style-position: inside;
    cursor: pointer;
    margin: 25px 25px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    border-radius: 4px;
    text-align: center;
    &:hover {
      transition: box-shadow 0.3s ease;
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.1), 0 11px 12px 0 rgba(14, 30, 37, 0.12)
    }
  }
}
.right {
  color: $button_hover_color;
}
.wrong {
  opacity: 0.5;
  color: red;
}

.audiochallenge__button {
  @include button;
  outline: none;
  color: $white-color;
  &:hover {
    background-color: $button_hover_color;
  }
}

.button-next {
  @include button;
  position: relative;
  outline: none;
  color: $white-color;
}

.button-next::before {
  content: '\2192';
  position: absolute;
  transform: translate(-50%, -75%) scale(3);
}

.answer__wrapper {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.speak-icon {
  position: relative;
  width: 100px;
  height: 100px;
  transition: all 0.3s ease-in;
  border-radius: 50%;
  background-color: #e6e6e6;

  &:hover {
    background-color: #e1e1e1;
    cursor: pointer;
  }
}

.speak-icon::before {
  content: url('../assets/icons/audiochallenge/speaker.svg');
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(50%, 50%);
  transition: all 0.3s ease-in;
}

.speak-icon_active {
  width: 50px;
  height: 50px;
  transform: translateX(-50px);
}

.speak-icon_active::before {
  width: 25px;
  height: 25px;
}

.true-word {
  display: none;
  margin: 20px 0;
  color: $white-color;
  font-size: 3rem;
}

.audiochallenge-image {
  display: none;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.true-word_active,
.audiochallenge-image_active {
  display: block;
}

