.word-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  color: $color_text_button;
  font-size: 2rem;

  & li {
    list-style-position: inside;
    cursor: pointer;
  }
}

.wrong {
  opacity: 0.5;
  color: red;
}

.audiochallenge__button {
  @include button;

  outline: none;
  color: $white-color;
}

.button-next {
  @include button;

  position: relative;
  outline: none;
  color: $white-color;
}

.button-next::before {
  content: '\2192';
  position: absolute;
  transform: translate(-50%, -75%) scale(3);
}

.speak-icon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e6e6e6;

  &:hover {
    background-color: #e1e1e1;
    cursor: pointer;
  }
}

.speak-icon::before {
  content: url('/assets/icons/audiochallenge/speaker.svg');
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(50%, 50%);
}

.audiochallenge-image {
  display: none;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
