@import './startPage';
@import './game';

.audiochallenge__body {
  background: #3b6a99;
}

.main {
  height: 80vh;
}

.main-container {
  height: 100%;
}

#audiochallenge {
  @include flex;

  height: 100%;
}
