@import '../../../../sass/abstract/constants';
@import '../../../../sass/abstract/mixins';
@import './startPage';
@import './game';
@import './statistic';

.audiochallenge__body {
  animation: background-image 3s infinite alternate;
  background-image: linear-gradient(to right bottom, #48985a, #6eb260, #97cb65, #c4e46a, #f5fb71);
}

#audiochallenge {
  @include flex;

  justify-content: normal;
}
