$img-width: 390px;
$img-height: 260px;
$font-size: 22px;
$item-width: 200px;
$item-height: 70px;

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
}

.res {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  margin: 20px auto 80px;
}

.points {
  list-style: none;
  display: flex;
  padding: 15px 15px;
  margin: 0;
}

.point {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: #00c49d;
  background: radial-gradient(#00c49d 0%, #00c49d 50%, #ffffff 50%, #ffffff 100%);
  margin-right: 10px;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  transition: .5s;
}

.point:hover {
  box-shadow: inset 0 0 0 2px #ffffff, inset 0 0 0 3px #00c49d;
}

.point::before {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  top: 9px;
  right: 5px;
  background-color: #00c49d;
}

.point:nth-child(1)::before {
  display: none;
}

.activePoint,
.activePoint:hover {
  box-shadow: 0 0 0 2px #00c49d,
    inset 0 0 0 2px #ffffff,
    inset 0 0 0 3px #00c49d;
}

.score {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.star {
  width: 40px;
  height: 40px;
  background-image: url(/src/assets/img/speakit/star.svg);
  background-size: 40px 40px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  padding-left: 40px;
  font-size: $font-size;
  line-height: 1.4;
  min-width: 200px;
  min-height: 70px;
  margin: 10px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  background-color: #fff;
  transition: .3s;
}

.item:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .1), 0 2px 4px 0 rgba(14, 30, 37, .12);
}

.activeItem {
  border: 1px solid rgb(0, 173, 159);
  background-color: rgba(0, 173, 159, .15);
}

.audio-icon {
  position: absolute;
  top: 18px;
  left: 10px;
  width: 34px;
  height: 34px;
}

.audio-icon svg {
  width: 34px;
  height: 34px;
  color: rgba(14, 30, 37, .7);
}

.word,
.translation {
  color: #0e1e25;
  font-size: $font-size;
  padding: 0px 5px;
  margin: 0;
}

.transcription {
  color: rgba(14, 30, 37, .7);
  font-size: $font-size;
  padding: 0px 5px;
  margin: 0;
}

.translation {
  color: rgba(14, 30, 37, .7);
  text-align: center;
  min-height: 44px;
  margin-bottom: 20px;
}

.img {
  width: $img-width;
  height: $img-height;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(118, 118, 118, .25);
}

.btns {
  display: flex;
}

.btn {
  display: inline-block;
  margin: 0 auto;
  appearance: none;
  font-size: $font-size;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  min-width: 200px;
  color: #fff;
  background: #00c49d;
  border-radius: 4px;
  visibility: visible;
  transition: .15s;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .1), 0 2px 4px 0 rgba(14, 30, 37, .12);

}

.intro-btn {
  font-weight: 300;
}

.voice {
  width: 660px;
  margin: 0 30px;
}


.btn:hover {
  background: #00c2b2;
}

.btn:focus,
.btn:active {
  outline: 0;
}

.activeBtn {
  background: #009179;
  color: #fff;
  transition: .15s;
}

.activeBtn:hover {
  background: #009179;
  color: #fff;
  transition: .15s;
}

.input {
  display: block;
  border: 0;
  border-bottom: 1px solid rgb(206, 212, 218);
  background-color: transparent;
  padding: 5px 20px;
  margin: 0 auto;
  margin-bottom: 14px;
  width: 100%;
  height: 50px;
  max-width: 1140px;
  line-height: 40px;
  color: rgba(14, 30, 37, .7);
  text-align: center;
  font-size: $font-size;
  background-image: url(/src/assets/img/speakit/microphone.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 15px;
}

.items .item .translation {
  display: none;
}

.input:focus {
  outline-color: #009179;
}

.none {
  display: none;
}

@media (max-width:1200px) {
  .res {
    height: 30px;
    margin: 10px auto 40px;
  }

  .img {
    width: 0.75*$img-width;
    height: 0.75*$img-height;
  }

  .translation {
    font-size: 0.85*$font-size;
    padding: 0px 2px;
    margin-bottom: 5px;
    min-height: 25px;
  }

  .items {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
  }

  .item {
    min-width: $item-width - 5;
    min-height: $item-height - 5;
  }

  .btns {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn {
    min-width: 170px;
    margin-bottom: 20px;
  }

  .voice {
    width: 48vw;
    margin: 0 20px;
    height: $item-height - 10;
    margin-bottom: 20px;
  }
}

@media (max-width:730px) {
  .res {
    height: 30px;
    margin: 10px auto 40px;
  }

  .img {
    width: 0.75*$img-width;
    height: 0.75*$img-height;
  }

  .translation {
    font-size: 0.85*$font-size;
    padding: 0px 2px;
    margin-bottom: 5px;
    min-height: 25px;
  }

  .items {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
  }

  .item {
    min-width: $item-width - 5;
    min-height: $item-height - 5;
  }

  .btns {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn {
    min-width: 170px;
    margin-bottom: 20px;
  }

  .voice {
    width: 200px;
    margin: 0 auto;
    height: $item-height - 10;
    margin-bottom: 20px;
  }
}

@media (max-width:600px) {

  .res {
    height: 30px;
    margin: 10px auto 40px;
  }

  .img {
    width: 0.5*$img-width;
    height: 0.5*$img-height;
  }

  .translation {
    font-size: 0.75*$font-size;
    padding: 0px 2px;
    margin-bottom: 5px;
    min-height: 25px;
  }

  .items {
    margin-bottom: 10px;
    display: table-cell;
  }

  .item {
    min-width: $item-width - 5;
    min-height: $item-height - 5;
  }

  .btns {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn {
    min-width: 200px;
    margin-bottom: 20px;
  }

  .voice {
    width: 200px;
    margin: 0 auto;
    height: $item-height - 10;
    margin-bottom: 20px;
  }
}
