@mixin intro-speakit {
  .intro {
    position: relative;
    min-height: calc(100vh + 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    transition: .5s;

    &.hidden {
      display: none;
    }


    .intro-btn {
      font-weight: 300;
    }

    .title {
      @include headingText;
    }

    .intro-text {
      @include bodyText;
      font-size: 1.7rem;
    }
  }
}
