
@import '../../../../sass/abstract/constants';
@import '../../../../sass/abstract/mixins';

.main__background-about-us {
  @include position($position: fixed);
  @include background(url('../../../../assets/img/about-us/background.jpg'), $background-repeat: no-repeat);

}
.main__about-us {
  @include flex();
  .logo-about-us {
    height: 80px;
    margin-top: 10px;
    font-family: $heading_font;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 700;
    color: $heading_color;
    text-align: center;
    z-index: 1000;
  }
};

.wrap-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about-us__wrap {
  width: 300px;
  height: 280px;
  border-radius: 8px;
  box-shadow: $button_shadow;
  background: white;
  margin: 50px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .photo {
    border-radius: 32px;
    border: 2px solid white;
    width: 145px;
    height: 145px;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: -15%;
  }
  .wrap-name {
    margin: 115px 15px 15px 15px;
    .name {
      margin-bottom: 15px;
      text-align: center;
      font-family: $body_font;
      font-size: 1.2rem;
      font-weight: 600;
      color: black;
    }
    .text {
      text-align: justify;
      font-family: $body_font;
      font-size: 1rem;
      font-weight: 400;
      color: black;
    }
  }
  .contact {
    display: flex;
    .telegtam, .github {
      box-shadow: $button_shadow;
      padding: 5px 5px;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      margin-left: 15px;
    }
  }
};
