$menu_color: linear-gradient(90deg, rgba(97,227,218, 1) 0%, rgba(97,227,157,1) 27%, rgba(8,201,84,1) 68%);
$selected_menu_item: #47c947;
$white_color: white;
$menu_icons_color: #9c9b9b;
$color_play_button: #1ab429;
$color_red: red;

$background_liner_gradient: linear-gradient(90deg, rgba(226,242,231,0.8939950980392157) 0%, rgba(251,216,216,0.6306897759103641) 89%);
$heading_font: 'Comic Neue', cursive;
$body_font: 'Open Sans', sans-serif;
$button_color: #1ab429;
$border_color: #1ab429;
$button_shadow: 0 0 0 1px rgba(255,255,255,.1), 0 11px 12px 0 rgba(14,30,37,.12);
$color_text_button: #1ab429;
$heading_color: #1ab429;
$body_color: black;