@mixin flex () {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin position () {
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin background($background-image, $background-repeat, $background-size: cover,) {
  background: $background_liner_gradient, $background-image;
  background-repeat: $background-repeat;
  background-size: $background-size;
};

@mixin button ($background-color: $button_color, $width: 180px, $heigth: 50px) {
  display: inline-block;
  font-family: $body_font;
  border: 1px solid $button_color;
  background-color: $background-color;
  width: $width;
  height: $heigth;
  color: $color_text_button;
  box-shadow: $button_shadow;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  visibility: visible;
}
@mixin headingText () {
  font-family: $heading_font;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 700;
  color: $heading_color;
  text-align: center;
  margin-bottom: 50px;
}

@mixin bodyText () {
  font-family: $body_font;
  font-size: 1rem;
  font-weight: 400;
  color: $body_color;
}
