.header {
  height: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 40px;
  transition: transform 0.3s ease;

  &_hidden {
    transform: translateY(-100%);
  }
}

.page-message-wrapper {
  height: 3.5rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.page-message-hidden {
  display: none;
}

.page-message--error {
  background-color: #feebe9;
  color: #e32;
  font-family: $body_font;
  font-size: 1.4rem;
  height: 5.2rem;
}

.button-reset {
  user-select: none;
  text-decoration: underline;
  color: #e32;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  outline:none;
}

.page-message {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
  .close-icon {
      content: url("../assets/icons/header/close.svg");
      position: absolute;
      top: 7px;
      right: calc(30% - 29%);
      cursor: pointer;
    }


@media (max-width: 639px) {
  .header-container {
    padding: 0 20px;
  }
}
