@import '../../../../sass/abstract/constants';
@import '../../../../sass/abstract/mixins';
@import "./components/statistics";

.main__background-statistics {
  @include position($position: fixed);
  @include background(url('/src/assets/img/rs-lang.jpg'), $background-repeat: no-repeat);
  z-index: -1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body_font;
  min-height: 100%;
}

.title {
  margin: 0;
  padding: 20px 0;
  color: $heading_color;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: $heading_font;
}

#statistics {
  @include statistics;
  margin: 0 40px;

  .btns {
    display: flex;
  }

  .btn {
    @include button;
    color: $white_color;
  }

  .btn:hover {
    background: $button_hover_color;
    color: $body_color;
  }

  .btn:focus,
  .btn:active {
    outline: 0;
  }

  .activeBtn {
    background: rgb(1, 119, 1);
    color: $white_color;
    transition: .15s;
  }

  .activeBtn:hover {
    background: #1ab429;
    color: $body_color;
    transition: .15s;
  }

  @media (max-width: $phone-sсreen) {
    margin: 0 10px;
  }
}
